*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root{
  --font-family-asap:"Asap", sans-serif;
  --font-family-inconsolata:"Inconsolata", sans-serif;
  --font-family-mavenpro:"Maven Pro", sans-serif;
  --text-lg-asap: 700 56px/120% "Asap", sans-serif;
  --text-md-asap: 700 24px/120% var(--font-family-asap);
  --text-sm-asap: 700 16px/120% var(--font-family-asap);
  --text-subtitle: 600 20px/120% var(--font-family-inconsolata);
  --text-md-mPro: 600 16px/140% var(--font-family-mavenpro);
  --text-sm-mPro: 600 14px/140% var(--font-family-mavenpro);

  --tx-red: #E3646E;
  --tx-purple: #BB72E9;
  --tx-blue:#3996DB;
  --tx-green:#82BC4F;
  --tx-yellow:#EABD5F;

  --tx-gray-100:#E2E4E9;
  --tx-gray-200:#C0C4CE;
  --tx-gray-300:#878EA1;
  --tx-gray-400:#292C34;
  --tx-gray-500:#16181D;
  --tx-gray-600:#0D0E11;

}
.container {
  background-color: #16181d ;
  
}

.container section{
  width: 1366px;
  margin: 0 auto;
}
.container .intro{
  
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../assets/Background_Intro.png");
  background-size: cover;       
  background-position: center;  

  
}
.container .intro .img{
  position: relative;
  margin: 56px 0;

}
.container .intro .img::after{
  left: 50%;
  top: 53%;
  transform: translate(-50%,-50%);
  position: absolute;
  content: url(
  "../assets/icons/Avatar.svg");
  /* height: 110px; */
  /* width:110px; */
}
.intro .img img {
  height: 87px;
  width: 87px;
  border-radius: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  margin: auto;

}
.flex{
  display: flex;
}

.subtitulo{
  font: var(--text-subtitle);
  color: var(--tx-gray-200);
}

.subred{
  color: var(--tx-red);
}

.tituloLG{
  font: var(--text-lg-asap);
  color: var(--tx-gray-100);
  margin: 20px 0;
  
}

.descricaoSM{
font:var(--text-sm-mPro);
color: var(--tx-gray-300);
margin-bottom: 80px;
}
.container .intro .flex img{
  height: 24px;
  width: 24px;
}
.container .infos {
gap: 16px;
}
.container .intro .flex.infos div {
font:var(--text-md-mPro);
color: var(--tx-gray-200);
display: flex;
align-items: center;
}

.container .intro .flex.infos .bordas {
  
  /* border: solid #BB72E9; */
  border-radius: 150px;
  background-color: var(--tx-gray-400);
  padding: 8px 16px ;
  
}

.container div.flex  {
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 94px;
  }
  
  .subtiloasapbold{
    font: var(--text-sm-asap);
    color: var(--tx-gray-100);
  }
  .container .destaques .destaquesflex.flex {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 56px ;
    
  }

   .subtiloasapregular{
    font: var(--text-sm-asap);
    color: var(--tx-gray-100);
   }
   .subtiloamvproregular{
    font: var(--text-sm-mPro);
    color: var(--tx-gray-200);
   }
  

 .grid{
  display: grid;
  grid-template-columns: 330px 330px 330px ;
  /* grid-template-rows: 280px; */
  justify-self: center;
  row-gap: 24px;
  
  
  margin-bottom: 144px;
  
 }
.container .grid div {
  width:306px ;  
  background-color: var(--tx-gray-400);
  padding: 10px ;
  border-radius: 10px;
  img{   
    width: 100%;
    border-radius: 10px;
  }
}
figcaption{
    margin: 0;
    position: relative;
    padding: 6px;
    
}

.container .servicos{
  background-color: var(--tx-gray-600);
}

.fontnegocio {
  font:var(--text-md-asap);
  color: var(--tx-gray-100);
}


 .container .servicos .destaquesflex.flex {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 88px;
    padding-bottom: 56px ;
 }

 .container .servicos .servicosflex {
  display: flex;
  justify-content: center;  
  gap: 24px;               
  padding: 20px;;
   
 }


 .container .servicos .servicosflex .card {
  
  padding: 20px;
  
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 10px;
  width: 250px;
  text-align: left;
  margin-bottom: 120px;
   img {
    width: 40px;
    margin-bottom: 20px;
   }
 }
.container .contato{
  margin-top:128px ;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/Background_Contacts.png");
  background-size: cover;       
  background-position: center;  
  width: 1366px;
  height: 787px;
  img {
    
  }
  li{
    
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 68px;
    gap: 16px;
    margin: 48px;
    background-color: var(--tx-gray-400);

    div {
      display: flex;
    }
  }
}

.fontcontato{
  font: var(--text-subtitle);
  color: var(--tx-purple);
}

.fonttrabalho{
  font: var(--text-md-mPro);
  color: var(--tx-gray-200);
  align-items: center;
  justify-content: space-between;
  img {
    margin-right: 20px;
  }
    
  }
  


